
* {
    font-family: Arial, sans-serif;
}

/* Header and Navigation */
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    margin-right: 975px;
    padding-top: 10px;
}

.nav {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

@media all and (max-width: 800px) {
    .nav {
        justify-content: space-around;
    }
}

@media all and (max-width: 500px) {
    .nav {
        flex-direction: column;
    }
}

ul {
    list-style: none;
    color: #e5e7eb;
    display: flex;
    font-size: 18px;
    gap: 16px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-evenly;
    gap: 5px;
    padding-bottom: 100px;
    height: 300px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.hero .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex-wrap: wrap;
    margin: 1px 0;
}

.hero .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    word-wrap: wrap;
    margin: 1px 0;
}

.hero-placeholder {
    width: 250px;
    background-color: darkgrey;
    color: white;
    padding: 80px 120px;
}
.sign-up {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    border-radius: 5px;
    width: 100px;
}

/* Information Section */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.info .info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info .info-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 500px;
}


.info .info-boxes .placeholder {
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 125px;
    height: 125px;
    display: flex;
}

.subtext {
    flex-wrap: wrap;
}


/* Quote Section */

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.quote .quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    width: 800px;
    flex-wrap: wrap;
}

.quote .cite {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: 600px;
}

/* CTA Section */

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: auto;
    flex-direction: row;
}

.cta .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width: 1200px;
    color: white;
    border-radius: 6px;
}

.cta .container .text-container {
    margin-right: 300px;
    margin-top: 0;
    padding: 25px 10px 25px 10px;
}

button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    border-radius: 5px;
    width: 100px;
}


/* Footer Section */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    height: 100px;
}